workflow/AI Agency Scraper + Engagement Bot.json
{
  "name": "AI Agency Scraper + Engagement Bot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "af8e10a7-518e-4348-8e18-b1a8a758971c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw",
          "mode": "list",
          "cachedResultName": "AI Agency Lead Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "AI Agency Lead Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "username": "={{ $json.username }}",
            "platform": "={{ $json.platform }}",
            "bio": "={{ $json.bio }}",
            "profile_url": "={{ $json.profile_url }}",
            "status": "={{ $json.status }}",
            "dm_sent": "={{ $json.dm_sent }}",
            "dm_sent_date": "={{ $json.dm_sent_date }}",
            "lead_score": "={{ $json.lead_score }}",
            "reply_received": "={{ $json.reply_received }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bio",
              "displayName": "bio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "profile_url",
              "displayName": "profile_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dm_sent",
              "displayName": "dm_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dm_text",
              "displayName": "dm_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dm_sent_date",
              "displayName": "dm_sent_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reply_received",
              "displayName": "reply_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "followup_dm_sent_date",
              "displayName": "followup_dm_sent_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "followup_dm_text",
              "displayName": "followup_dm_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lead_score",
              "displayName": "lead_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow_status",
              "displayName": "follow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "follow_timestamp",
              "displayName": "follow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1344,
        0
      ],
      "id": "ac55bbd7-ec0a-4b2b-9d45-35ebfb3fd6d4",
      "name": "Append row in sheet",
      "credentials": {
        "googleApi": {
          "id": "rQP2QVF41iJrX57p",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json;\n  const bio = (data.bio || '').toLowerCase();\n  const username = (data.username || '').toLowerCase();\n  \n  let score = 0;\n  \n  // Bio keyword scoring\n  if (bio.includes('founder')) score += 3;\n  if (bio.includes('ceo')) score += 3;\n  if (bio.includes('agency')) score += 3;\n  if (bio.includes('marketing')) score += 2;\n  if (bio.includes('business')) score += 2;\n  if (bio.includes('ecommerce') || bio.includes('e-commerce')) score += 2;\n  if (bio.includes('consultant')) score += 2;\n  if (bio.includes('entrepreneur')) score += 2;\n  if (bio.includes('digital')) score += 1;\n  if (bio.includes('growth')) score += 1;\n  if (bio.includes('automation')) score += 3;\n  if (bio.includes('ai')) score += 3;\n  if (bio.includes('saas')) score += 3;\n  if (bio.includes('startup')) score += 2;\n  \n  // Quality checks\n  if (bio.length > 50) score += 2;\n  if (bio.length > 100) score += 1;\n  if (data.profile_url && data.profile_url !== 'https://www.instagram.com/') score += 1;\n  \n  // Cap at 10\n  score = Math.min(score, 10);\n  \n  // Only pass leads with score >= 4\n  if (score < 4) return null;\n  \n  return {\n    json: {\n      ...data,\n      lead_score: score\n    }\n  };\n}).filter(item => item !== null);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ],
      "id": "20d44e20-c65e-4e36-9bc3-20baf1297752",
      "name": "lead score code"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst processed = items.map(item => {\n  const data = item.json;\n  \n  return {\n    json: {\n      username: data.ownerUsername || data.ownerId || 'unknown',\n      platform: 'instagram',\n      bio: (data.caption || '').substring(0, 200),\n      follower_count: data.ownerFullName || '',\n      following: '',\n      profile_url: `https://www.instagram.com/${data.ownerUsername || ''}`,\n      status: 'scraped',\n      dm_sent: 'no',\n      dm_sent_date: '',\n      reply_received: 'no'\n    }\n  };\n});\n\n// Remove duplicates by username\nconst seen = new Set();\nconst unique = processed.filter(item => {\n  if (seen.has(item.json.username)) return false;\n  seen.add(item.json.username);\n  return true;\n});\n\nreturn unique;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        0
      ],
      "id": "59fea44f-445d-428e-9cbf-d74c54506557",
      "name": "data processing code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~instagram-hashtag-scraper/runs?token=apify_api_dWIpYJdJ5ReTPIgxFwbfzo8dbgLdg70bPJLc",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"hashtags\": [\"smallbusiness\", \"marketingagency\", \"digitalmarketing\", \"businessautomation\"],\n  \"resultsLimit\": 100\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        0
      ],
      "id": "3fe69608-094b-4dd3-80fe-6469a2997126",
      "name": "Scrape insta data"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1568,
        0
      ],
      "id": "f8b13364-1b3e-473f-97e6-df6bef6d3d94",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1792,
        0
      ],
      "id": "2c8a3277-2957-4404-87e3-2906d650c9a9",
      "name": "Wait1",
      "webhookId": "94f8f08e-7738-4f40-b68d-2f8fb006c941"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw",
          "mode": "list",
          "cachedResultName": "AI Agency Lead Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "AI Agency Lead Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "follow_status": "followed",
            "follow_timestamp": "={{ new Date().toISOString() }}",
            "username": "={{ $json.username }}"
          },
          "matchingColumns": [
            "username"
          ],
          "schema": [
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "bio",
              "displayName": "bio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "profile_url",
              "displayName": "profile_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dm_sent",
              "displayName": "dm_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dm_text",
              "displayName": "dm_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dm_sent_date",
              "displayName": "dm_sent_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reply_received",
              "displayName": "reply_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "followup_dm_sent_date",
              "displayName": "followup_dm_sent_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "followup_dm_text",
              "displayName": "followup_dm_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lead_score",
              "displayName": "lead_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "follow_status",
              "displayName": "follow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow_timestamp",
              "displayName": "follow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2016,
        0
      ],
      "id": "5876b72c-8f23-4034-8c6c-bcb32d0d02f7",
      "name": "Update row in sheet",
      "credentials": {
        "googleApi": {
          "id": "rQP2QVF41iJrX57p",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ],
      "id": "5b860345-5fde-4752-9fcc-520f636038c6",
      "name": "Wait",
      "webhookId": "281d2e06-b6d7-47b4-b81e-5c74f93ada06"
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/apify~instagram-hashtag-scraper/runs/last/dataset/items?token=apify_api_dWIpYJdJ5ReTPIgxFwbfzo8dbgLdg70bPJLc&limit=50",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        0
      ],
      "id": "2b4d9923-1de0-4278-868c-b4c44214d2e0",
      "name": "Get Insta data"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Scrape insta data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead score code": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data processing code": {
      "main": [
        [
          {
            "node": "lead score code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape insta data": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Insta data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Insta data": {
      "main": [
        [
          {
            "node": "data processing code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d7d42e32-0d84-4ae9-9b70-c6dbb4f604e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c051d2cf0acc4026a8af4cd0ad21b7f53188072af7273be3e22ed36027ab21a8"
  },
  "id": "Xgy8919nM2PeHAtT",
  "tags": []
}