workflow/Daily Report.json
{
  "name": "Daily Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20,
              "triggerAtMinute": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e5107902-7ebc-49da-8b68-acf5644ee5aa",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw",
          "mode": "list",
          "cachedResultName": "AI Agency Lead Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "AI Agency Lead Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        0
      ],
      "id": "a9cf1a46-8c42-4bd9-a5e5-6e5fb125b10e",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "rQP2QVF41iJrX57p",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\n\nconst today = new Date().toISOString().split('T')[0];\nconst todayRows = rows.filter(r => r.json.dm_sent_date === today);\n\nconst totalFollows = todayRows.length;\nconst dmsSent = todayRows.filter(r => r.json.dm_sent === 'yes').length;\nconst repliesReceived = rows.filter(r => r.json.reply_received === 'yes').length;\nconst conversionRate = dmsSent > 0 \n  ? ((repliesReceived / dmsSent) * 100).toFixed(2) + '%' \n  : '0%';\n\nreturn [{\n  json: {\n    date: today,\n    follows_sent: totalFollows,\n    dms_sent: dmsSent,\n    replies_received: repliesReceived,\n    conversion_rate: conversionRate\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "75816bb3-487e-4a36-ae02-1b66a1484a8d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw",
          "mode": "list",
          "cachedResultName": "AI Agency Lead Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1218921431,
          "mode": "list",
          "cachedResultName": "Daily Report",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw/edit#gid=1218921431"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.date }}",
            "follows_sent": "={{ $json.follows_sent }}",
            "dms_sent": "={{ $json.dms_sent }}",
            "conversion_rate": "={{ $json.conversion_rate }}",
            "replies_received": "={{ $json.replies_received }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follows_sent",
              "displayName": "follows_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dms_sent",
              "displayName": "dms_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "replies_received",
              "displayName": "replies_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversion_rate",
              "displayName": "conversion_rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        0
      ],
      "id": "8fe0796a-9aee-4479-9431-3b188e7c8ca5",
      "name": "Append row in sheet",
      "credentials": {
        "googleApi": {
          "id": "rQP2QVF41iJrX57p",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "aglawechakuli@gmail.com",
        "subject": "=AI Agency Bot — Daily Report {{ $json.date }}",
        "message": "=<h2>🤖 AI Agency Bot — Daily Report</h2>\n<p><strong>Date:</strong> {{ $json.date }}</p>\n<hr>\n<table border=\"1\" cellpadding=\"8\">\n  <tr><td><strong>Follows Sent</strong></td><td>{{ $json.follows_sent }}</td></tr>\n  <tr><td><strong>DMs Sent</strong></td><td>{{ $json.dms_sent }}</td></tr>\n  <tr><td><strong>Replies Received</strong></td><td>{{ $json.replies_received }}</td></tr>\n  <tr><td><strong>Conversion Rate</strong></td><td>{{ $json.conversion_rate }}</td></tr>\n</table>\n<hr>\n<p><em>Powered by n8n + Groq AI</em></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        896,
        0
      ],
      "id": "b61f7c9b-13c0-46c9-8202-e2fad6f38b45",
      "name": "Send a message",
      "webhookId": "0b906d65-0209-4622-bc72-1bdc7cab2948",
      "credentials": {
        "gmailOAuth2": {
          "id": "b7WozV1TnVkJFT76",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ef5baec9-f4aa-4c19-aef0-bee3d4662b20",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c051d2cf0acc4026a8af4cd0ad21b7f53188072af7273be3e22ed36027ab21a8"
  },
  "id": "XZ4IFLwTlzxckc9P",
  "tags": []
}