workflow/DM Generator + Sender.json
{
  "name": "DM Generator + Sender",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        240
      ],
      "id": "92865bf4-3cb7-4268-8908-41e0da0d4a41",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const groqResponse = $input.first().json;\n\nif (!groqResponse.choices) {\n  return [{ json: { error: 'No Groq response' } }];\n}\n\nconst dmText = groqResponse.choices[0].message.content;\n\n// Try multiple ways to get username\nconst loopItem = $('loop').item?.json;\nconst sheetItem = $('Get sheet').item?.json;\nconst username = loopItem?.username || sheetItem?.username || 'unknown';\n\nreturn [{\n  json: {\n    username: username,\n    dm_text: dmText,\n    dm_sent_date: new Date().toISOString().split('T')[0]\n  }\n}];\n\n\n// const groqResponse = $input.first().json;\n\n// if (!groqResponse.choices) {\n//   return [{ json: { error: 'No Groq response found' } }];\n// }\n\n// const dmText = groqResponse.choices[0].message.content;\n// const leadData = $('loop').item.json;\n\n// return [{\n//   json: {\n//     username: leadData.username || 'unknown',\n//     platform: leadData.platform || 'instagram',\n//     dm_text: dmText,\n//     dm_sent_date: new Date().toISOString().split('T')[0]\n//   }\n// }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        48
      ],
      "id": "3e17c008-9dce-4757-ba00-700d8eb3b9be",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 10) + 5 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        896,
        0
      ],
      "id": "9be4a86f-28a7-4bfc-8148-6a8bd207307d",
      "name": "Wait",
      "webhookId": "b6762dec-387f-4546-8bd3-8857ac23eaf9"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw",
          "mode": "list",
          "cachedResultName": "AI Agency Lead Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "AI Agency Lead Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 0,
            "username": "={{ $json.username }}",
            "dm_sent": "yes",
            "dm_sent_date": "={{ $json.dm_sent_date }}",
            "dm_text": "={{ $json.dm_text }}"
          },
          "matchingColumns": [
            "username"
          ],
          "schema": [
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "bio",
              "displayName": "bio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "follower_count",
              "displayName": "follower_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "following",
              "displayName": "following",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "profile_url",
              "displayName": "profile_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dm_sent",
              "displayName": "dm_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dm_text",
              "displayName": "dm_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dm_sent_date",
              "displayName": "dm_sent_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reply_received",
              "displayName": "reply_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1344,
        48
      ],
      "id": "32482288-e6c4-4954-a47e-5eb441687cd2",
      "name": "update DMs",
      "credentials": {
        "googleApi": {
          "id": "rQP2QVF41iJrX57p",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an outreach specialist for an AI agency. Write short, personalised, friendly DMs to potential clients. Keep it under 150 words. Never sound salesy. Always reference their specific business.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a DM to Instagram user {{ $json.username }} who runs a business described as: {{ $json.bio.replace(/[\\n\\r\\t\\\"\\\\]/g, ' ').trim() }}. Our agency offers AI automation, lead generation, and AI solutions. Make it personal and relevant.\"\n    }\n  ],\n  \"max_tokens\": 200,\n  \"temperature\": 0.9\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        0
      ],
      "id": "28e23a81-6ef4-432a-8a66-cdeb08b239d8",
      "name": "Write DM"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        144
      ],
      "id": "330ee0e4-c4ef-4659-a0f5-8eccdad5231b",
      "name": "loop"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw",
          "mode": "list",
          "cachedResultName": "AI Agency Lead Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "AI Agency Lead Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "dm_sent",
              "lookupValue": "no"
            }
          ]
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        240
      ],
      "id": "5cd9f365-a875-4ada-9c54-9c08eb14a8cc",
      "name": "Get sheet",
      "credentials": {
        "googleApi": {
          "id": "rQP2QVF41iJrX57p",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "update DMs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write DM": {
      "main": [
        [
          {
            "node": "loop",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Write DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get sheet": {
      "main": [
        [
          {
            "node": "loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f8e39e3a-eb9c-44f3-9d36-dcdaa3fffe79",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c051d2cf0acc4026a8af4cd0ad21b7f53188072af7273be3e22ed36027ab21a8"
  },
  "id": "ALFm4BniWEkERCO5",
  "tags": []
}