workflow/Event Detection.json
{
  "name": "Event Detection",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        672,
        48
      ],
      "id": "f79eda43-00cc-4137-bbae-64b502acbd2c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const groqResponse = $input.first().json;\nconst dmText = groqResponse.choices[0].message.content;\nconst username = $('If events').item.json.username;\n\nreturn [{\n  json: {\n    username: username,\n    dm_text: dmText,\n    dm_sent_date: new Date().toISOString().split('T')[0]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        -48
      ],
      "id": "9f154cf1-691a-4bb3-ad4a-9af352ba7d01",
      "name": "dm_text_update"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw",
          "mode": "list",
          "cachedResultName": "AI Agency Lead Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "AI Agency Lead Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "follow_status",
              "lookupValue": "followed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        48
      ],
      "id": "dbd4fab4-b2e2-43d4-8b4f-373d375a5cd9",
      "name": "Get Sheet",
      "credentials": {
        "googleApi": {
          "id": "rQP2QVF41iJrX57p",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw",
          "mode": "list",
          "cachedResultName": "AI Agency Lead Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1388213663,
          "mode": "list",
          "cachedResultName": "Event Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw/edit#gid=1388213663"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "event_date": "={{ $json.trigger_date }}",
            "username": "={{ $json.username }}",
            "platform": "={{ $json.platform }}",
            "event_type": "={{ $json.event_type }}",
            "event_description": "={{ $json.event_description }}",
            "profile_url": "={{ $json.profile_url }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "event_date",
              "displayName": "event_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_type",
              "displayName": "event_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_description",
              "displayName": "event_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "profile_url",
              "displayName": "profile_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1344,
        48
      ],
      "id": "f37e3214-4d07-4f18-9561-79c01924450b",
      "name": "Event Logs",
      "credentials": {
        "googleApi": {
          "id": "rQP2QVF41iJrX57p",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5787f653-cd12-4433-b15f-5f4e0699a26e",
              "leftValue": "={{ $json.event_type }}",
              "rightValue": "new_follower",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1568,
        48
      ],
      "id": "deb4222e-e1c6-4f14-8998-5e2e0a60ef66",
      "name": "If events"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an outreach specialist for an AI agency. Write a short, personalised, friendly DM under 150 words. Reference their specific business. Never sound salesy.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a DM to Instagram user {{ $('If events').item.json.username }} whose bio is: {{ $('Event Detector').item.json.bio.replace(/\\n/g, ' ').replace(/\\\"/g, '') }}. Our agency offers AI automation, lead generation, and AI solutions.\"\n    }\n  ],\n  \"max_tokens\": 200,\n  \"temperature\": 0.9\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1792,
        -48
      ],
      "id": "0b1039af-a9b0-4363-81a3-6f5c9dcabdaf",
      "name": "Generate DMs ",
      "credentials": {
        "httpBearerAuth": {
          "id": "Ledqyxsi9XDgN4NB",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw",
          "mode": "list",
          "cachedResultName": "AI Agency Lead Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "AI Agency Lead Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "username": "={{ $json.username }}",
            "dm_sent": "yes",
            "dm_sent_date": "={{ new Date().toISOString().split('T')[0] }}",
            "dm_text": "={{ $json.dm_text }}"
          },
          "matchingColumns": [
            "username"
          ],
          "schema": [
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "bio",
              "displayName": "bio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "profile_url",
              "displayName": "profile_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dm_sent",
              "displayName": "dm_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dm_text",
              "displayName": "dm_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dm_sent_date",
              "displayName": "dm_sent_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reply_received",
              "displayName": "reply_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "followup_dm_sent_date",
              "displayName": "followup_dm_sent_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "followup_dm_text",
              "displayName": "followup_dm_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lead_score",
              "displayName": "lead_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "follow_status",
              "displayName": "follow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "follow_timestamp",
              "displayName": "follow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2240,
        -48
      ],
      "id": "918f13e9-09b4-4981-b14a-b22d3dfe321d",
      "name": "Update main sheet",
      "credentials": {
        "googleApi": {
          "id": "rQP2QVF41iJrX57p",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst today = new Date().toISOString().split('T')[0];\n\nconst events = [];\n\nitems.forEach(item => {\n  const data = item.json;\n  const username = data.username;\n  const platform = data.platform;\n  const bio = data.bio || '';\n\n  // EVENT 1: Followed but no DM sent yet → \"new_follower\" trigger\n  const followedButNoDM = data.follow_status === 'followed' && data.dm_sent === 'no';\n\n  // EVENT 2: Bio has AI-relevant keywords AND DM already sent → \"bio_update\" trigger\n  // Simulates: lead updated their bio with AI-relevant content → re-engage them\n  const aiKeywords = ['automation', 'ai', 'chatbot', 'saas', 'digital', 'agency', 'founder'];\n  const bioHasKeywords = aiKeywords.some(k => bio.toLowerCase().includes(k));\n  const bioUpdateTrigger = bioHasKeywords && data.dm_sent === 'yes' && !data.followup_dm_text;\n\n  if (followedButNoDM) {\n    events.push({\n      json: {\n        username, platform, bio,\n        event_type: 'new_follower',\n        event_description: `${username} is now followed — ready for first DM`,\n        trigger_date: today,\n        profile_url: data.profile_url,\n        action: 'send_dm'\n      }\n    });\n  } else if (bioUpdateTrigger) {\n    events.push({\n      json: {\n        username, platform, bio,\n        event_type: 'bio_update',\n        event_description: `${username} bio has AI-relevant keywords — re-engage`,\n        trigger_date: today,\n        profile_url: data.profile_url,\n        action: 'send_followup'\n      }\n    });\n  }\n});\n\nif (events.length === 0) {\n  return [{ json: { message: 'No events detected', date: today } }];\n}\n\nreturn events;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        48
      ],
      "id": "2f249a66-0052-4b4f-b4e1-bc69603db18c",
      "name": "Event Detector"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an outreach specialist for an AI agency. Write a SHORT follow-up DM under 100 words. Be friendly, not pushy. Reference AI automation benefits. Make it feel different from a first message.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a follow-up DM to {{ $json.username }} whose bio mentions AI-relevant keywords: {{ $('Event Detector').item.json.bio.replace(/\\n/g, ' ').replace(/\\\"/g, '') }}. They previously received a DM from us. Re-engage them by referencing their interest in AI/automation. Keep it under 100 words, friendly, not pushy.\"\n    }\n  ],\n  \"max_tokens\": 150,\n  \"temperature\": 0.9\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1792,
        144
      ],
      "id": "f86eddb4-7552-4000-b966-fbaf5857729a",
      "name": "groq node",
      "credentials": {
        "httpBearerAuth": {
          "id": "Ledqyxsi9XDgN4NB",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const groqResponse = $input.first().json;\nconst dmText = groqResponse.choices[0].message.content;\n\n// Pull username from the Event Detector via the groq node's input chain\nconst username = $('If events').item.json.username;\n\nreturn [{\n  json: {\n    username: username,\n    followup_dm_text: dmText,\n    followup_dm_sent_date: new Date().toISOString().split('T')[0]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        144
      ],
      "id": "5280db62-1eca-4a4f-8a40-cf9d1f898969",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw",
          "mode": "list",
          "cachedResultName": "AI Agency Lead Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "AI Agency Lead Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "username": "={{ $json.username }}",
            "followup_dm_text": "={{ $json.followup_dm_text }}",
            "followup_dm_sent_date": "={{ $json.followup_dm_sent_date }}"
          },
          "matchingColumns": [
            "username"
          ],
          "schema": [
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "bio",
              "displayName": "bio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "profile_url",
              "displayName": "profile_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dm_sent",
              "displayName": "dm_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dm_text",
              "displayName": "dm_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dm_sent_date",
              "displayName": "dm_sent_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reply_received",
              "displayName": "reply_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "followup_dm_sent_date",
              "displayName": "followup_dm_sent_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "followup_dm_text",
              "displayName": "followup_dm_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead_score",
              "displayName": "lead_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "follow_status",
              "displayName": "follow_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "follow_timestamp",
              "displayName": "follow_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2240,
        144
      ],
      "id": "8f9c08a6-f32e-4831-b6fa-fd8b15d9fe67",
      "name": "Update row in sheet",
      "credentials": {
        "googleApi": {
          "id": "rQP2QVF41iJrX57p",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Detect Changes + Compare": {
      "main": [
        [
          {
            "node": "Log Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dm_text_update": {
      "main": [
        [
          {
            "node": "Update main sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sheet": {
      "main": [
        [
          {
            "node": "Event Detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event Logs": {
      "main": [
        [
          {
            "node": "If events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If events": {
      "main": [
        [
          {
            "node": "Generate DMs ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "groq node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate DMs ": {
      "main": [
        [
          {
            "node": "dm_text_update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event Detector": {
      "main": [
        [
          {
            "node": "Event Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "groq node": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "514a3a92-2c90-4453-ad24-b33b1662f623",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c051d2cf0acc4026a8af4cd0ad21b7f53188072af7273be3e22ed36027ab21a8"
  },
  "id": "rJfHXCf9dYKXA8O8",
  "tags": []
}