Follow-up Sequence.json
{
  "name": "Follow-up Sequence",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -16
      ],
      "id": "609996c5-86dd-460d-b100-ca5539d94675",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 10) + 5 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1120,
        -160
      ],
      "id": "fad03476-00b9-4de1-b591-27b1e2421d68",
      "name": "Wait",
      "webhookId": "73f0c0c6-a350-42e1-8fdc-4b9c231730af"
    },
    {
      "parameters": {
        "jsCode": "const groqResponse = $input.first().json;\n\nif (!groqResponse.choices) {\n  return [{ json: { error: 'No Groq response' } }];\n}\n\nconst dmText = groqResponse.choices[0].message.content;\n\nlet username = 'unknown';\ntry {\n  username = $('timer code').item.json.username\n    || $('loop').item.json.username\n    || 'unknown';\n} catch(e) {\n  username = 'unknown';\n}\n\nreturn [{\n  json: {\n    username: username,\n    followup_dm_text: dmText,\n    followup_dm_sent_date: new Date().toISOString().split('T')[0]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        -88
      ],
      "id": "f5688884-b01c-4a86-9cf5-069f062e2ce9",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nconst today = new Date();\n\nconst needsFollowUp = rows.filter(row => {\n  const dmDate = new Date(row.json.dm_sent_date);\n  const hoursSinceDM = Math.floor((today - dmDate) / (1000 * 60 * 60));\n  const noReply = row.json.reply_received === 'no';\n  const dmSent = row.json.dm_sent === 'yes';\n  \n  return dmSent && noReply && hoursSinceDM >= 48;\n});\n\nif (needsFollowUp.length === 0) {\n  return [{ json: { message: 'No follow-ups needed today' } }];\n}\n\nreturn needsFollowUp.map(row => ({\n  json: {\n    username: row.json.username,\n    platform: row.json.platform,\n    bio: row.json.bio,\n    original_dm: row.json.dm_text,\n    hours_since_dm: Math.floor(\n      (today - new Date(row.json.dm_sent_date)) / (1000 * 60 * 60)\n    )\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -16
      ],
      "id": "1058c706-51bf-4979-94f6-15d71451bd40",
      "name": "timer code"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw",
          "mode": "list",
          "cachedResultName": "AI Agency Lead Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "AI Agency Lead Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "dm_sent",
              "lookupValue": "yes"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        -16
      ],
      "id": "622411b1-03b1-4809-9d57-74bbe611007f",
      "name": "Get sheet",
      "credentials": {
        "googleApi": {
          "id": "rQP2QVF41iJrX57p",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        -16
      ],
      "id": "ad1730a9-412a-48c5-8426-11e66e503856",
      "name": "loop"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an outreach specialist for an AI agency. Write a SHORT follow-up message under 100 words. Be friendly, not pushy. Reference AI automation benefits.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a follow-up DM to {{ $json.username }} who hasn't replied in {{ $json.hours_since_dm }} hours. Their bio: {{ $json.bio.replace(/\\n/g, ' ').replace(/\\\"/g, '') }}. Keep it very short and different from the first message.\"\n    }\n  ],\n  \"max_tokens\": 150,\n  \"temperature\": 0.9\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        -160
      ],
      "id": "1be5a132-65b6-40d7-9707-580f0b95ffd9",
      "name": "write followup DMs"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw",
          "mode": "list",
          "cachedResultName": "AI Agency Lead Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "AI Agency Lead Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13oZSG5IcDr1jLwa89avkSASXOyeXy1LNJva3EB_4Shw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "username": "={{ $json.username }}",
            "followup_dm_text": "={{ $json.followup_dm_text }}",
            "followup_dm_sent_date": "={{ $json.followup_dm_sent_date }}"
          },
          "matchingColumns": [
            "username"
          ],
          "schema": [
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "bio",
              "displayName": "bio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "follower_count",
              "displayName": "follower_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "following",
              "displayName": "following",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "profile_url",
              "displayName": "profile_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dm_sent",
              "displayName": "dm_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dm_text",
              "displayName": "dm_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dm_sent_date",
              "displayName": "dm_sent_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reply_received",
              "displayName": "reply_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "followup_dm_sent_date",
              "displayName": "followup_dm_sent_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "followup_dm_text",
              "displayName": "followup_dm_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        -88
      ],
      "id": "7baf8d22-5d91-42bd-9adb-425481043e6b",
      "name": "Update followup details",
      "credentials": {
        "googleApi": {
          "id": "rQP2QVF41iJrX57p",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Update followup details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "timer code": {
      "main": [
        [
          {
            "node": "loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get sheet": {
      "main": [
        [
          {
            "node": "timer code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "write followup DMs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "write followup DMs": {
      "main": [
        [
          {
            "node": "loop",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "69acded7-2c62-468c-aa5f-3cf05a4113b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c051d2cf0acc4026a8af4cd0ad21b7f53188072af7273be3e22ed36027ab21a8"
  },
  "id": "aH3mKKcyO7Z7hvTK",
  "tags": []
}